<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Headlines</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <style>
            img{
                width: 100%;
                margin: auto
            }

            h1 {
                
                margin:auto;
                text-align : center;
            }

            .notice{

                margin: 3px;
            }

            .container {
                width:70%; 
                margin: auto;
                padding: 15px;
                -webkit-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
                box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
            }
        </style>
        <div class="container">
            <h1>The Economist</h1>
            <hr/>
            {% for article in articles %}
            <div class="notice">
                <h2>{{article.title}}</h2>
                <i>{{article.published}} </i>
                <p>{{article.summary | safe}} </p>
            </div>
            {% endfor %}
        </div>
    
    </body>
</html>